{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
<form action="/list" method="post">
    <section>
        <div class="container-fluid">
            <div class="row">
              <div class="col-lg-5 vh-10">
                <div class="vh-10"> Search For:

                </div>
              </div>

              <div class="col-lg-5 vh-10">
                <div class="vh-10"> Sort By: </div>
              </div>
            </div>
          </div>
    </section>
    <div class="d-flex gap-2 justify-content-center">
        <input autocomplete="off" class="form-control w-auto" id="countryName" name="countryName" placeholder="Country" type="text">
        <input autocomplete="off" class="form-control w-auto" id="countryCapital" name="countryCapital" placeholder="Capital" type="text">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="listOrder" id="CountryAsc" value="name" checked>
            <label class="form-check-label" for="CountryAsc">Country</label>
          </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="listOrder" id="CapitalAsc" value="capital">
            <label class="form-check-label" for="CapitalAsc">Capital</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="listOrder" id="PopulationAsc" value="population">
            <label class="form-check-label" for="PopulationAsc">Population</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="listOrder" id="AreaAsc" value="area">
            <label class="form-check-label" for="AreaAsc">Area</label>
        </div>
        <button class="btn btn-primary" style="background-color: #339933; border-color: #339933" type="submit">Search</button>
    </div>
</form>
<table class="table tablestriped">
    <thead>
        <tr>
            <th class="text-start">Country</th>
            <th class="text-start">Capital</th>
            <th class="text-end">Population</th>
            <th class="text-end">Area/km^2</th>
        </tr>
    </thead>
    <tbody>
        {% for country in Countries_Array %}
            <tr>
                <td class="text-start">{{ country["name"] }}</td>
                <td class="text-start">{{ country["capital"] }}</td>
                <td class="text-end">{{ country["population"]}}</td>
                <td class="text-end">{{ country["area"]}}</td>
            </tr>
        {% endfor %}

{% endblock %}
